<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BisLite</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="jquery.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<nav>
		<div class="top-logo">
			<p class = "font-black">Bis</p>
			<p class = "font-regular">Lite</p>
		</div>
		<ul class = "navigation">
			<li><a href="#">Home</a></li>
			<li><a href="#">About us</a></li>
			<li class = "service"><a href="#">Service<img src="imgs/arrow.png" class = "arrow"></a>
				<ul>
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Wordpress Design</a></li>
					<li><a href="#">Mobile App Devolepment</a></li>
					<li><a href="#">Internet Marketing</a></li>
					<li><a href="#">Social Media Managment</a></li>
				</ul>
			</li>
			<li class = "portfolio"><a href="#">Portfolio<img src="imgs/arrow.png" class = "arrow"></a>
				<ul>
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Web Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
	</nav>
	<header>
		<div class="wrapper">
			<input type="radio" name = "point" id = "slide1" checked>
			<input type="radio" name = "point" id = "slide2">	
			<input type="radio" name = "point" id = "slide3">	
			<input type="radio" name = "point" id = "slide4">
			<div class="slider">
			<div class="slides slide1"><img src="imgs/1.jpg"></div>
			<div class="slides slide2"><img src="imgs/2.jpg"></div>
			<div class="slides slide3"><img src="imgs/3.jpg"></div>
			<div class="slides slide4"><img src="imgs/4.jpg"></div>
			</div>
			<div class="buttons">
			<label for = "slide1"></label>
			<label for = "slide2"></label>
			<label for = "slide3"></label>
			<label for = "slide4"></label>
			</div>			
		</div>
	</header>
	<div class="blog">
		<div class="themes">
			<div class="clean-theme">
				<img src="imgs/icon-1.png"><p class="blog-tittle">clean theme</p>
				<p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 	do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="read-more"><a href="#"><img src="imgs/arrow-right.png">Read More</a></div>
			</div>
			<div class="design">
				<img src="imgs/icon-2.png"><p class="blog-tittle">responsive design</p>
				<p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 	do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="read-more"><a href="#"><img src="imgs/arrow-right.png">Read More</a></div>
			</div>
			<div class="psd">
				<img src="imgs/icon-3.png"><p class="blog-tittle">fully layerd psd</p>
				<p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 	do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="read-more"><a href="#"><img src="imgs/arrow-right.png">Read More</a></div>
			</div>
			<div class="coding">
				<img src="imgs/icon-4.png"><p class="blog-tittle">fully layerd psd</p>
				<p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 	do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="read-more"><a href="#"><img src="imgs/arrow-right.png">Read More</a></div>
			</div>
		</div>
	</div>
	<div class="latest-works">
		<img src="imgs/mouse.png"><p class="blog-tittle">latest works</p>
		<ul class="control-buttons">
			<li class = "back"><img src="imgs/back.png"></li>
			<li class = "forward"><img src="imgs/forward.png"></li>
		</ul>
		<div class="sliderJS">
		</div>
	</div>
	<div class="middle-section">
		<div class="testimonials">
			<img src="imgs/icon-5.png"><p class="blog-tittle">testimonials</p>
			<p class="blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p class="by-line">John Travis, CEO, DomainName.com</p>
		</div>
		<div class="clients">
			<img src="imgs/icon-6.png"><p class="blog-tittle">our clients</p>
			<a href="#"><img src="imgs/Clients/logo-1.png" alt="logo"></a>
			<a href="#"><img src="imgs/Clients/logo-2.png" alt="logo"></a>
			<a href="#"><img src="imgs/Clients/logo-3.png" alt="logo"></a>
			<a href="#"><img src="imgs/Clients/logo-4.png" alt="logo"></a>
			<a href="#"><img src="imgs/Clients/logo-5.png" alt="logo"></a>
			<a href="#"><img src="imgs/Clients/logo-6.png" alt="logo"></a>
		</div>
	</div>
	<footer>
		<div class="about-us">
			<p class = "blog-tittle">about us</p>
			<p class = "blog-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="contacts">
			<p class = "blog-tittle">contact us</p>
			<p class = "blog-text">
				BisLite inc. <br>
				Always Street 265 <br>
				0X - 125 - Canada <br><br><br>
				Phone: 987-6543-210 <br>
				Fax: 987-6543-210
			</p>
		</div>
		<div class="copyright">
			<p>&copy; Copyright 2012 - BisLite Inc. All rights reserved. Some free icons used here are created by Brankic1979.com. 
			Client Logos are copyright and trademark of the respective owners / companies. 
			</p>
		</div>
		
	</footer>
</body>
</html>