<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<script src = "js/jquery.js"></script>
	<script src = "js/script.js"></script>
</head>
<body>
<header>
	<div class="coment">
		<div id="avatar"></div>
		<div id="bubble">
			<p class = 'bubble-text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p> 
			<p class = 'bubble-text-time'>3 mins ago</p>
		</div>
		<div id="tail"></div>
	</div>
</header>
<div class="main">
	<div id="most-popular">
		<p><img src="img/star.png">most popular<img src="img/star.png"></p>
	</div>
</div>
</body>
</html>